.container {
  background-color: blue;
  height: 100vh;
  width: 100vw;

}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  border: 1px solid red;
}